@import "src/styles/functions";
@import "src/styles/variables";

.track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: setUnit(14);
    border-radius: setUnit(5);
    padding: setUnit(5) setUnit(5);
    overflow: auto;

    &.active {
        box-shadow: 0 0 setUnit(8) rgba(darken($lightColor, 60),.5);
    }

    @media screen and (max-width: setUnit($mobile)) {
        font-size: setUnit(12);
    }

    .rating {
        margin-right: setUnit(15);
    }

    &:nth-child(even) {
        border: setUnit(1) solid darken($lightColor, 30);
    }

    &:nth-child(odd) {
        border: setUnit(1) solid darken($lightColor, 30);
    }

    .head {
        display: flex;
        align-items: center;
        width: 100%;

        .loader {
            font-size: setUnit(2.5);
            color: $lightColor;
            height: 0;
        }
    }

    .info {
        color: $darkColor;
        margin-left: setUnit(10);
        width: 100%;

        .author {
            margin-bottom: setUnit(4);
        }

        .trackName {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            min-width: setUnit(50) !important
        }
    }

    .meta {
        display: flex;
        align-items: center;
        margin-left: setUnit(15);

        .date {
            min-width: setUnit(150);
            text-align: right;
        }
    }
}
