@import "styles/variables";
@import "styles/functions";


@mixin highlight-input($highlightColor: $active-background-color) {
    outline: none;
    border: none;
    border-radius: setUnit(3);
    padding: setUnit(5) setUnit(15);
    color: $darkColor;
    width: 100%;

    &:focus {
        box-shadow: 0 0 setUnit(7) $highlightColor;
    }
}

@mixin simple-input($highlightColor: $active-background-color) {
    outline: none;
    border: 1px solid $darkColor;
    border-radius: setUnit(3);
    background: $whiteColor;
    padding: setUnit(5) setUnit(15);
    color: $darkColor;
    width: 100%;

    &:focus {
        box-shadow: 0 0 setUnit(7) lighten($highlightColor, 40);
        border-color: lighten($darkColor, 40);
    }
}

@mixin inputError() {
    font-size: setUnit(12);
    color: $dangerColor;
    margin-top: setUnit(4);
}

@mixin simple-label($color: $darkColor) {
    font-size: setUnit(14);
    color: $color;
    margin-bottom: setUnit(4);
    display: inline-block;
}
