@import "src/styles/functions";

$desktop: 1200;
$mobile: 768;
$mobile-small: 565;

$whiteColor: #FFFFFF;
$lightColor: #E9FFF9;
$primaryColor: #467599;
$secondaryColor: #9ED8DB;
$dangerColor: #D64045;
$darkColor: #1D3354;
$greyColor: #f3f3f3;

$header-height: 71;
$player-height: 117;
$player-offset: 360;
