@import "src/styles/functions";
@import "src/styles/variables";

.tracks {
    .track {
        margin-bottom: setUnit(20);

        @media screen and (max-width: #{setUnit($mobile)}){
            margin-bottom: setUnit(15);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
