@import "src/styles/functions";
@import "src/styles/variables";

.avatarWrapper {
    position: relative;

    .avatar {
        border: 1px solid $lightColor;
    }

    .menu {
        position: absolute;
        top: setUnit(55);
        right: 0;
        background: $whiteColor;
        color: $darkColor;
        border-radius: setUnit(3);
        width: setUnit(100);
        padding: setUnit(5) setUnit(0);
        box-shadow: setUnit(2) setUnit(2) setUnit(5) rgba(0,0,0,.5);
        z-index: 999;

        .list {
            list-style: none;

            .item {
                padding: setUnit(7) setUnit(15);
                cursor: pointer;

                &:hover {
                    background-color: darken($lightColor, 20);
                    color: $darkColor;
                }
            }
        }
    }
}
