@import "styles/functions";
@import "styles/variables";

.form {
    form {
        padding-bottom: setUnit(40);
    }
    .input {
        margin-bottom: setUnit(15);
    }

    .dropzone {
        margin-top: setUnit(30);
    }

    .progress {
        background: $darkColor;
        height: setUnit(2);
        width: 0;
        border-radius: setUnit(100);
        opacity: 1;

        transition: all .3s;

        &.hide {
            opacity: 0;
        }
    }
}
