@import "src/styles/functions";
@import "src/styles/variables";

.menu {
    background-color: $darkColor;
    min-width: setUnit(300);
    color: $whiteColor;
    overflow: auto;

    @media screen and (max-width: setUnit($mobile)) {
        min-width: setUnit(200);
    }

    @media screen and (max-width: 450px) {
        min-width: setUnit(150);
    }

    .list {
        list-style: none;
        margin: setUnit(30) 0;

        .item {
            padding: 0 setUnit(20);
            margin-bottom: setUnit(5);
            cursor: pointer;

            .label {
                white-space: nowrap;

                @media screen and (max-width: setUnit($mobile)) {
                    width: setUnit(100);
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .label {
                white-space: nowrap;

                @media screen and (max-width: setUnit($mobile)) {
                    width: setUnit(100);
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .label {
                white-space: nowrap;

                @media screen and (max-width: setUnit($mobile)) {
                    width: setUnit(100);
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            .link {
                color: $whiteColor;
                text-decoration: none;
                width: 100%;
                padding: setUnit(10) setUnit(20);
                border-radius: setUnit(5);
                display: flex;
                align-items: center;
                justify-content: space-between;

                &:hover,
                &.active {
                    background-color: darken($lightColor, 20);
                    color: $darkColor;
                }
            }
        }
    }

    .count {
        display: inline-block;
        font-size: setUnit(14);
        margin-left: setUnit(10);
    }
}
