@import "src/styles/functions";
@import "src/styles/variables";

.menu {
    background-color: $darkColor;
    min-width: setUnit(300);
    color: $whiteColor;
    position: relative;

    @media screen and (max-width: setUnit($mobile)) {
        min-width: setUnit(200);
    }

    @media screen and (max-width: setUnit($mobile-small)) {
        transition: margin-left .3s;

        .openIcon {
            display: none;
        }

        &.open {
            margin-left: 0;

            .list {
                opacity: 1;
                pointer-events: auto;
            }
        }

        &.closed{
            margin-left: setUnit(-170);

            .list {
                opacity: 0;
                pointer-events: none;
            }

            .openIcon {
                position: absolute;
                right: setUnit(7);
                top: setUnit(10);
                display: block;
            }
        }
    }

    .list {
        list-style: none;
        padding: setUnit(30) 0;
        overflow: auto;
        height: calc(100vh - #{setUnit($header-height)} - #{setUnit($player-height)} - #{setUnit(41)});

        .item {
            padding: 0 setUnit(20);
            margin-bottom: setUnit(5);
            cursor: pointer;

            .label {
                white-space: nowrap;

                @media screen and (max-width: setUnit($mobile)) {
                    width: setUnit(100);
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            .link {
                color: $whiteColor;
                text-decoration: none;
                width: 100%;
                padding: setUnit(10) setUnit(20);
                border-radius: setUnit(5);
                display: flex;
                align-items: center;
                justify-content: space-between;

                &:hover,
                &.active {
                    background-color: darken($lightColor, 20);
                    color: $darkColor;
                }
            }
        }
    }

    .count {
        display: inline-block;
        font-size: setUnit(14);
        margin-left: setUnit(10);
    }
}
