@import "src/styles/functions";
@import "src/styles/variables";

.tableActions {
    display: flex;
    align-items: center;

    .download {
        position: relative;
        bottom: setUnit(-2);
        margin-right: setUnit(25);
        margin-left: 0;
    }

    .downloadLoaderWrapper {
        position: relative;
        bottom: setUnit(2);
    }

    .download,
    .remove,
    .edit,
    .telegram,
    .archive {
        vertical-align: middle;
    }

    .icon {
        cursor: pointer;
        transition: all .2s;

        &:hover {
            transform: scale(1.1);
        }

        &.telegramIcon {
            width: 100%;
            height: 100%;
        }
    }

    .remove {
        width: setUnit(20);
        height: setUnit(20);

        path {
            fill: $dangerColor;
        }

    }

    .remove,
    .deleteLoader {
        margin-left: setUnit(20);
    }

    .archiveLoader {
        margin-left: setUnit(16);
    }

    .archive {
        margin-left: setUnit(20);
    }

    .edit {
        width: setUnit(20);
        height: setUnit(20);
        position: relative;
        top: setUnit(-1);
        fill: $darkColor;
    }

    .telegram {
        width: setUnit(18);
        height: setUnit(18);
        margin-right: setUnit(20);
    }
}
