@import "styles/functions";
@import "styles/variables";
@import "styles/mixins";

.checkbox {
    .label {
        @include simple-label;
        display: flex;
        align-items: center;
        cursor: pointer;

        .labelText {
            margin-left: setUnit(10);
        }

        .input {
            cursor: pointer;
        }
    }

    .loaderWrapper {
        width: setUnit(15);
        height: setUnit(15);

        .loader {
            font-size: setUnit(1.5);
            position: relative;
            bottom: setUnit(2);
        }
    }
}
