@import "../../../styles/functions";
@import "../../../styles/variables";

.modal {
  .content {
    padding: 0 setUnit(40);
    margin: setUnit(25) 0 setUnit(40);
  }

  .deleteText {
    line-height: setUnit(22);
  }

  .accent {
    font-weight: bold;
  }
}
