@import "styles/functions";
@import "styles/variables";

.sortAscDesc {
    display: flex;
    align-items: center;
    border: 1px solid $darkColor;
    border-radius: setUnit(3);
    padding: setUnit(10) setUnit(15);
    cursor: pointer;
    font-size: setUnit(14);
    height: setUnit(33);
    width: setUnit(96);
    min-width: setUnit(96);

    .value {
        flex-grow: 1;
    }

    @media screen and (max-width: setUnit($mobile-small)) {
        padding: setUnit(5) setUnit(10);
        font-size: setUnit(12);
        height: setUnit(28);
    }

    .icon {
        width: setUnit(20);
        height: setUnit(20);
        margin-left: setUnit(10);
    }
}
