@import "src/styles/functions";
@import "src/styles/variables";

.contentWrapper {
    height: calc(100vh - #{setUnit(71)});
    width: 100%;
    padding: setUnit(10) setUnit(10) 0;
    overflow: auto;
}
