@import "src/styles/functions";
@import "src/styles/variables";

.opacityLayer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($darkColor, .3);
}

.modal {
  .content {
    padding: 0 setUnit(40);
    margin: setUnit(25) 0 setUnit(40);
  }

  .deleteText {
    line-height: setUnit(22);
  }

  .accent {
    font-weight: bold;
  }
}
