@import "src/styles/functions";
@import "src/styles/variables";

.title {
    display: flex;
    align-items: center;

    .playIcon {
        width: setUnit(20);
        height: setUnit(20);
        position: relative;
    }

    .titleText {
        margin-left: setUnit(10);
    }
}
