@import 'styles/functions';
@import 'styles/variables';

.title {
  display: flex;
  align-items: center;

  .playIcon {
    width: setUnit(20) !important;
    height: setUnit(20) !important;
  }

  .titleText {
    margin-left: setUnit(10);
  }
}
