@import "src/styles/functions";
@import "src/styles/variables";

.tableHeaderActions {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .totalDurationWrapper {
        display: flex;
        align-items: center;
        padding: 0 setUnit(15) setUnit(8) setUnit(20);

        @media screen and (max-width: 450px){
            padding-right: 0;
        }
    }
}
