@import 'styles/functions';
@import 'styles/variables';

.rhap_container {
  box-shadow: 0 0 setUnit(3) 0 rgba($darkColor, 0.4);

  .rhap_current-time {
    color: $whiteColor;
  }

  .rhap_total-time {
    color: $whiteColor;
  }

  svg {
    path {
      fill: $whiteColor;
    }
  }
}

.rhap_progress-bar-show-download {
  background: $primaryColor;

  .rhap_progress-indicator {
    background: $whiteColor;
  }

  .rhap_progress-filled {
    background: $player-progress-filled-color;
  }

  .rhap_download-progress {
    background: $whiteColor;
  }
}

.rhap_volume-bar {
  background: $player-progress-filled-color;

  .rhap_volume-indicator {
    background: $whiteColor;
  }
}
