@import 'styles/functions';
@import 'styles/variables';

.player {
  .title {
    min-height: setUnit(20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $whiteColor;
  }

  .playerContainer {
    background: $player-background;
    position: relative;
    z-index: 99999;
  }
}
