@import "src/styles/functions";
@import "src/styles/variables";

.player {
    .title {
        min-height: setUnit(20);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .playerContainer {
        background: lighten($lightColor, 3);
        position: relative;
        z-index: 99999;
    }
}
