@import "src/styles/functions";
@import "src/styles/variables";
@import "src/styles/mixins";

.inputText {
  .input {
    @include simple-input($darkColor);
  }

  .label {
    @include simple-label;
  }

  .error {
    font-size: setUnit(12);
    color: $dangerColor;
    margin-top: setUnit(4);
  }
}
