@import "src/styles/functions";
@import "src/styles/variables";

.play {
    .headIcon {
        width: setUnit(45);
        height: setUnit(45);
        fill: $darkColor;
        cursor: pointer;
        transition: all .1s;
        vertical-align: middle;

        &.mobile {
            width: setUnit(30);
            height: setUnit(30);
        }

        &.pending {
            width: setUnit(45);
            height: setUnit(45);
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}
