@import "src/styles/functions";
@import "src/styles/variables";

.logo {
    width: setUnit(113);

    .logoImage {
        vertical-align: middle;
        height: 100%;
        width: 100%;
    }

    .link {
        display: inline-block;
    }
}
