@import "styles/functions";
@import "styles/variables";

.navigation {
    &.mobile {
        margin-right: setUnit(60);
    }

    .list {
        display: flex;
        list-style: none;

        .item {
            margin-right: setUnit(10);
            cursor: pointer;
            transition: all .2s;

            &:last-child {
                margin-right: 0;
            }

            .link {
                color: $active-background-color;
                text-decoration: none;
            }

            .link:hover,
            .link.active,
            &:hover,
            &.active {
                color: darken($active-background-color, 20);
            }
        }
    }
}
