@import "src/styles/functions";
@import "src/styles/variables";

.tracks {
    .pendingWrapper {
        height: calc(100% - #{setUnit(102)});

        .loader {
            position: relative;
            bottom: setUnit(50);
        }
    }
}
